* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(48, 47, 47);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 60%;
}

.questionClosed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem;
  background-color: white;
}

.openAnswer,
.closeAnswer {
  font-size: 2rem;
  cursor: pointer;
}

.questionOpened {
  background-color: white;
  padding: 0 1.2rem 2rem 1.2rem;
}

.questionOpened > p,
li {
  font-size: 0.9rem;
  width: 94%;
}

.questionOpened > ul {
  padding-left: 2rem;
}

.hidden {
  display: none;
}

@media (max-width: 860px) {
  body {
    background-color: rgb(245, 238, 238);
  }

  section {
    width: 90%;
  }

  .questionClosed {
    gap: 0;
    padding: 0.6rem;
  }

  .questionClosed > h1 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .openAnswer,
  .closeAnswer {
    font-size: 1rem;
  }

  .questionOpened {
    background-color: white;
    padding: 0 0.6rem 2rem 0.6rem;
  }

  .questionOpened > p,
  li {
    font-size: 0.8rem;
  }
}
